<h4 class="text-primary"><span class="glyphicon"><%= config.currency %></span> Sale Totals</h4>
<hr />

<label>Base Price</label>
<div class="input-group">
  <span class="input-group-addon"><%=config.currency %></span>
  <input type="text" class="form-control" readonly value=<%= number_to_currency(@sale.amount, unit: '') %>>
</div>

<label>Discount</label>
<%= form_for @sale, :url => sale_discount_sale_path, remote: true do |f| %>
  <div class="input-group">
    <%= f.select :discount, Sale.discount_ranges, {}, {:onchange => "$(this.form).find('input[type=""submit""]').click();",:class => "form-control"} %>
    <span class="input-group-addon"><%= config.currency %><%= @sale.discount.blank? ? 0 : number_to_currency(@sale.get_discounted_amount, unit: '') %></span>
  </div>

  <%= submit_tag "submit", :class => "btn btn-primary btn-lg hidden" %>

<% end %>

<label>Tax(<%= config.tax_rate.blank? ? 'not configured' : config.tax_rate %>)</label>
<div class="input-group">
  <span class="input-group-addon"><%=config.currency %></span>
  <input type="text" class="form-control" readonly value=<%= number_to_currency(@sale.tax, unit: '') %>>
</div>
<hr />

<label class="text-success">Total Price</label>
<div class="input-group has-success total_price_output">
  <span class="input-group-addon price_output"><%=config.currency %></span>
  <input type="text" class="form-control price_output" readonly value=<%= number_to_currency(@sale.total_amount, unit: '') %>>
</div> 
