<h4 class="text-primary"><span class="glyphicon glyphicon-credit-card"></span> Payments</h4>
  <hr class="hidden-print" />

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Payment Type</th>
        <th>Amount</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      <% if @sale.payments.blank? %>
        <tr>
          <td colspan="3">There are no payments on this balance yet.</td>
        </tr>
      <% else %>
        <% @sale.payments.each do |payment| %>
          <tr>
            <td><%= payment.payment_type %></td>
            <td><%= text_field_tag :amount, number_to_currency(payment.amount, unit: config.currency), id: nil, :class => "form-control", :readonly => true  %>
            </td>
            <td><%= text_field_tag :amount, payment.created_at, id: nil, :class => "form-control", :readonly => true  %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% if @sale.remaining_balance <= 0.00 && @sale.payments.count > 0 %>
  <div class="alert alert-success hidden-print">Payment Complete</div>
  Change Due: <%= number_to_currency(@sale.change_due, unit: config.currency) %>
<% else %>
  <h4 class="text-primary hidden-print"><span class="glyphicon glyphicon-shopping-cart"></span> Balance</h4>

  <div class="alert alert-danger hidden-print">
    <%= number_to_currency(@sale.remaining_balance, unit: config.currency) %>
  </div>


  <hr class="hidden-print" />

  <% unless @sale.total_amount.blank? %>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg hidden-print" data-toggle="modal" data-target="#makePayment">
      Make Payment
    </button>  
  <% end %>
<% end %>